<h2> Week 4 Matchups</h2>
<h3> Make your Picks!</h3>

<!--
<form>
  <tr>
{{#each matchups}}
    <td><input type="checkbox" value="away">{{away}}</td>
    <td>@</td>
    <td><input type="checkbox" value="home">{{home}}</td>
  </tr>
{{/each}}
</form>

<button id="getSavePicksButton">Save my Picks</button> -->
<legend></legend>
  <h4>Place your Winner by Entering home or away</h4>

{{#each matchups}}

    <div>
        {{away}}
        @
        {{home}}
        <form class='picks-form' data-id={{id}}>
            <br>
            <input type="text" name="pick" value="">
            <input id="getSavePicksButton" type="submit" name="submit" value="Save my Pick">
            <!-- <input id="updatePicksButton" type="submit" name="submit" value="Update my Pick"> -->
            <br>
        </form>
    </div>

{{/each}}


<!-- <button onclick="updatePicks()">Update Picks</button> -->

<!-- <button onclick="load_()">LOAD</button>  -->

<!--
<table>
  <tr>
{{#each matchups}}
    <td><input type="checkbox" value="away">{{away}}</td>
    <td>@</td>
    <td>{{home}}<input type="checkbox" value="home"></td>
  </tr>
{{/each}}
</table> -->

<!-- <table>
  <tr>
{{#each matchups}}
    <td><input type="checkbox" value="away">{{away}}</td>
    <td>@</td>
    <td><input type="checkbox" value="home">{{home}}</td>
  </tr>
{{/each}}
</table>

<button id="getSavePicksButton">Save my Picks</button> -->
